* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* TITULO DEL H1 */
.titulo {
  display: flex;
  width: 1000px;
  height: 100px;
  margin-top: 26px;
  color: #f0f9ff;
}
/* FIN DEL TITULO DEL H1 */

/* ICONO DEL CARRITO  */
.cartIconContainer {
  display: inline-block;
  color: #f0f9ff;
}

.item {
  float: left;
}

.toparticulo {
  display: inline-block;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* TAMAÑO DE IAMGEN */
.card {
  width: 18rem;
}

.color {
  color: #ff6600;
}
/* INICIO */
.toparticulo2 {
  display: inline-block;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* FOOTER */
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #ff6600;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
/* FIN DEL  FOOTER */

/* FORMULARIO */

.form {
  display: inline-block;
  margin-bottom: 10px;
}

.form2 {
  margin-bottom: 10px;
}
